.privilege {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='144' viewBox='0 0 16 144' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='7' y='8' width='2' height='136' rx='1' fill='%2354A02F'/%3E%3Ccircle cx='8' cy='8' r='8' fill='%2354A02F'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left bottom;
  min-height: 168px;
  padding-left: 32px;
  width: 100%;
  @include media-breakpoint-down(sm){
    min-height: 145px;
  }
  &__ic{
    height: 64px;
  }
  
  &__title{
    max-width: 232px;
  }
}
