.product {
  width: 100%;
  max-width: 888px;
  border-radius: 10px;
  padding: 64px 0;
  @include media-breakpoint-down(xs){
    padding: 48px 0;
  }
  &__img-wrap{
    width: 232px;
    margin-right: 32px;
    flex-shrink: 0;
    @include media-breakpoint-down(sm){
      margin-right: 24px;
      width: 210px;
    }
  }
  &__row{
    display: flex;
    padding-left: 56px;
    padding-right: 56px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 40px;
    @include media-breakpoint-down(sm){
      padding-left: 24px;
      padding-right: 24px;
    }
    @include media-breakpoint-down(xs){
      display: block;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  &__form{
    max-width: 454px;
    margin-left: auto;
    margin-right: auto;
  }
}
