.panel {
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 48px;
  width: 100%;
  
  @include media-breakpoint-down(sm){
    padding: 24px;
  }
  @include media-breakpoint-down(xs){
    padding: 0;
    box-shadow: none;
  }
}
