section.b-front
  #front-slider
    ._slide(style="background-image:url(./img/slide-1.jpg)"): .container
      ._content
        h1.mb-24.mb-md-56 Тавла - то что <br>мы едим
        a(href="").btn.btn-primary Скачать презентацию
    ._slide.text-body(style="background-image:url(./img/slide-2.jpg)"): .container
      ._content
        h1.mb-24.mb-md-56 Тавла - то что <br>мы едим
        a(href="").btn.btn-primary Скачать презентацию
    ._slide(style="background-image:url(./img/slide-3.jpg)"): .container
      ._content
        h1.mb-24.mb-md-56 Тавла - то что <br>мы едим
        a(href="").btn.btn-primary Скачать презентацию
  .container.position-relative
    ._nav#front-nav
      button
      button
      button
  a(href="#about" onclick="scrollAnimateToBlock(event,'#about')")._scroll Узнать больше   
    <svg width="25" height="57" viewBox="0 0 25 57" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M22.5 12V24C22.5 29.5228 18.0228 34 12.5 34C6.97715 34 2.5 29.5228 2.5 24V12C2.5 6.47715 6.97715 2 12.5 2C18.0228 2 22.5 6.47715 22.5 12ZM0.5 12C0.5 5.37258 5.87258 0 12.5 0C19.1274 0 24.5 5.37258 24.5 12V24C24.5 30.6274 19.1274 36 12.5 36C5.87258 36 0.5 30.6274 0.5 24V12ZM13.5 8.5C13.5 7.94772 13.0523 7.5 12.5 7.5C11.9477 7.5 11.5 7.94772 11.5 8.5V14.5C11.5 15.0523 11.9477 15.5 12.5 15.5C13.0523 15.5 13.5 15.0523 13.5 14.5V8.5ZM11.8195 49.2328L4.81955 42.7328L6.18045 41.2672L12.5 47.1354L18.8195 41.2672L20.1805 42.7328L13.1805 49.2328L12.5 49.8646L11.8195 49.2328ZM4.81955 49.7328L11.8195 56.2328L12.5 56.8646L13.1805 56.2328L20.1805 49.7328L18.8195 48.2672L12.5 54.1354L6.18045 48.2672L4.81955 49.7328Z" fill="white"/>
    </svg>
