extends ../templates/layout
block content
  section.b-section.pt-32.pt-md-44.mb-24.mb-lg-92: .container
    .row.mb-40.mb-md-60.mb-lg-100
      .col-lg-6.pb-32.pb-lg-0
        h1.h2.mb24.mb-md-32 О компании
        p.mb-0.
          Наше производство зарегистрировано в форме общества с ограниченной ответственностью 30 мая 2018 года. Начало было положено в селе Подлесная Тавла Кочкуровского района Мордовии, где мы арендовали небольшой цех, ранее занимавшийся изготовлением как колбас, так и мясных полуфабрикатов. Там мы получили наш первый опыт в деле производства и многому научились.
          <br> <br>
          Сейчас мы располагаем полноценными производственными мощностями и продолжаем развиваться. Наша цель на краткосрочный период – занять достойное место в предпочтениях потребителей в домашнем регионе. Уже имея за плечами огромный опыт продаж, мы продолжаем работать с потребителем, изучая его желания и предпочтения.
          <br> <br>
          Мы будем планомерно работать над улучшениями и в будущем.
      .col-lg-6.d-flex
        ._img-fill: img(src="./img/img-22.jpg")
    a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox data-touch="false").d-block.mb-40.mb-md-60.mb-lg-128: img(src="./img/video.jpg" alt="")
    .row
      .col-md-6.col-lg-3.pb-40.d-flex: +privilege({
        icon: 'p-1.svg',
        title: 'Миссия компании',
        text: 'Улучшение качества жизни'
      })
      .col-md-6.col-lg-3.pb-40.d-flex: +privilege({
        icon: 'p-2.svg',
        title: 'Стратегия',
        text: 'Делать продукт с качеством немного выше цены'
      })
      .col-md-6.col-lg-3.pb-40.d-flex: +privilege({
        icon: 'p-3.svg',
        title: 'Принципы',
        text: 'Развитие, улучшение, доступность'
      })
      .col-md-6.col-lg-3.pb-40.d-flex: +privilege({
        icon: 'p-4.svg',
        title: 'Ценности',
        text: 'Человек, его потребности и безопасность'
      })
  section.b-section.mb-16.mb-md-44.mb-lg-100: .container
    h2.text-center.mb-24.mb-md-48 Наши колбасеры
    .row.justify-content-center
      .col-sm-6.col-lg-4.pb-24.d-flex: +worker
      .col-sm-6.col-lg-4.pb-24.d-flex: +worker
      .col-sm-6.col-lg-4.pb-24.d-flex: +worker
  section.b-section.-notepad.mb-40.mb-md-60.mb-lg-100: .container
    .col-sm-10.col-md-8.col-lg-6.px-0
      h2.mb-24.mb-md-32 Реквизиты
      p.mb-0.
        Общество с ограниченной ответственностью
         <br>
        «Араповская мясная мануфактура»
         <br>
        <b>ИНН:</b> 1328016349
        <br>
        <b>ОГРН:</b> 1181326003275
        <br>
        <b>Электронная почта:</b> agr.office@yandex.ru
        <br>
        <b>Телефон:</b> 8(8342) 777-404, 777 454
        <br>
        <b>Адрес производства: </b>431350, Республика Мордовия, г. Ковылкино, ул. Рабочая, 16В.
        <br>
        <b>р/с</b> 40702810129280004200 Филиал «нижегородский» АО «Альфа-Банк»
        <br>
        <b>к/с</b> 30101810200000000824
        <br>
        <b>БИК</b> 042202824
  include ../blocks/section/_section-form
  .b-map
    .container.position-relative
      ._panel
        h2.mb-24.mb-md-32 Контакты
        
        .mb-24
          |Телефон: <a href="tel:88342777454" class="text-primary">8 (8342) 777-454</a>
          br
          |E-mail: 
          |
          |
          a(href="#").text-primary galiakich@gmail.com
        .mb-24.
          Режим работы: <br>
          ежедневно с 12:00 до 23:00
        .mb-24.
          Саранск, Пролетарский район, Коваленко, 52а
    #map._wrap
    script.
      let iconConfig = {
        // iconLayout: 'default#image',
        // iconImageHref: './img/map-marker@2x.png',
        // iconImageSize: [43, 60],
        // iconImageOffset: [-21, -60]
      };
      function initMap() {
        let map;
        let map2;
        map = new ymaps.Map('map', {
          center: ['54.209417', '45.118757'],
          controls: ['default'],
          zoom: 14
        });
        map.behaviors.disable('scrollZoom');
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
          map.behaviors.disable('drag');
        }
        let adr = new ymaps.Placemark(['54.209417', '45.118757'],
                {
                  balloonContent: 'Тавла - колбасные изделия; <br>Саранск, Пролетарский район, Коваленко, 52а',
                  iconCaption: 'Тавла'
                },
                iconConfig
        );
        map.geoObjects.add(adr);
      }
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=initMap" type="text/javascript" async)
