*{
	outline: none;
	box-sizing: border-box;
	&:after,&:before{
		box-sizing: border-box;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	color: inherit;
}

img{
	max-width: 100%;
}

button{
	background: none;
	padding: 0;
	box-shadow: none;
	outline: none;
	border: none;
	cursor: pointer;
	&:focus,&:active{
		box-shadow: none;
		outline: none;
	}
}
table{
	border-collapse: collapse;
}

//input[type=number]::-webkit-inner-spin-button,
//input[type=number]::-webkit-outer-spin-button {
//	-webkit-appearance: none;
//	margin: 0;
//}
//input[type=number]{
//	-moz-appearance:textfield;
//}
