mixin worker(data)
  .b-worker&attributes(attributes)
    img._photo.mb-24.mb-md-32(src="./img/worker.jpg" alt="")
    .h4.mb-8 Клюкина Ольга
    .text-secondary.font-weight-bold.mb-8 Заведующая производством
    | info@tavla.ru
